[submodule "nodes/pandora"]
	path = nodes/pandora
	url = https://github.com/Cogni-DAO/pandora.git
[submodule "nodes/creative"]
	path = nodes/creative
	url = https://github.com/Cogni-DAO/creative.git
[submodule "nodes/node-template"]
	path = nodes/node-template
	url = https://github.com/Cogni-DAO/node-template.git
[submodule "nodes/coulditbe"]
	path = nodes/coulditbe
	url = https://github.com/Cogni-DAO/coulditbe.git
[submodule "nodes/please"]
	path = nodes/please
	url = https://github.com/Cogni-DAO/please.git
[submodule "nodes/ayo"]
	path = nodes/ayo
	url = https://github.com/Cogni-DAO/ayo.git
[submodule "nodes/oss"]
	path = nodes/oss
	url = https://github.com/Cogni-DAO/oss.git
