[submodule "nodes/pandora"]
	path = nodes/pandora
	url = https://github.com/Cogni-DAO/pandora.git
[submodule "nodes/creative"]
	path = nodes/creative
	url = https://github.com/Cogni-DAO/creative.git
[submodule "nodes/node-template"]
	path = nodes/node-template
	url = https://github.com/Cogni-DAO/node-template.git
