[submodule "nodes/node-template"]
	path = nodes/node-template
	url = https://github.com/Cogni-DAO/node-template.git
[submodule "nodes/oss"]
	path = nodes/oss
	url = https://github.com/Cogni-DAO/oss.git
[submodule "nodes/blue"]
	path = nodes/blue
	url = https://github.com/Cogni-DAO/blue.git
